
/*================================*/
/*              Colors            */
/*================================*/

/*

Text: #222222
Grey text: #888888

*/

/*================================*/
/*               Base             */
/*================================*/

body {
    background: #EEEEEE none repeat scroll 0%;
}
@media (max-width: 480px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

dt {
	margin-top: 10px;
}
dd {
	margin-left: 20px;
}

.ui-widget-content a {
    text-decoration: underline;
}

.disabled-text {
    font-style: italic;
    color: #888;
}


.no-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * Bootstrap customization
 */
.alert-info{
    color:#3a87ad;
    background-color:#d9edf7;
    border-color:#bce8f1;
}

/**
 * Overload Bootstrap carousel
 */
.carousel-caption {
	background: rgba(0, 0, 0, 0.5);
}
.carousel-inner {
	height: 100%;
}
.carousel-inner .item {
	height: 100%;
}

/**
 * Overcome Bootstrap bug
 * https://github.com/twitter/bootstrap/issues/50
 * https://github.com/twitter/bootstrap/issues/2507
 */
.modal form {
    margin: 0;
}

/**
 * CSS fix
 * https://forrst.com/posts/Fancy_search_box_using_Bootstrap_2_0-dG0
 */
.input-append button.add-on {
    height: inherit !important;
}


/*================================*/
/*             Body               */
/*================================*/

#body {
    position: relative;
    margin-top: 100px;
    padding: 60px 30px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
}
/* Responsive design */
@media (max-width: 767px) {
    #body {
        padding: 30px 20px;
    }
}

h1, h2, h3 {
	margin: 10px 0;
    color: #333;
}

.map {
    background-color: #F0F0F0;
    border: #DDDDDD 1px solid;
}

/*================================*/
/*           Thumbnail            */
/*================================*/
.thumbnail img {
    width: 100%;
}
.thumbnail-square {
    position: relative;
}
.thumbnail-square img {
    width: 125px;
    height: 125px;
}
.thumbnail-empty {
    position: relative;
    background-color: #f5f5f5;
    text-align: center;
}
img.thumbnail-square-empty {
    width: 100%;
}
.thumbnail-squarethumb-empty {
	position: relative;
    height: 125px;
    width: 125px;
}
.thumbnail-squarethumb-empty p {
	padding-top: 47px;
}
.thumbnail-flickr img {
	opacity: .5;
	filter: alpha(opacity=50);
}
.thumbnail-square .flickr-overlay {
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 26px;
	width: 56px;
	opacity: 1;
	filter: alpha(opacity=100);
}

/*================================*/
/*          Message Box           */
/*================================*/

#messagebox {
    display: none;
}

/*================================*/
/*         Feedback Box           */
/*================================*/

#feedbackbox {
    display: none;
}

/*================================*/
/*              Footer            */
/*================================*/

#footer {
    border-top: solid 1px #DDDDDD;
    width: 100%;
    margin-top: 30px;
    padding: 3px 0px 2px 0px;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

#footer #footerMenu {
    top: 10px;
    left: 20px;
}

#footer a {
    color: #888;
}
/*
     FILE ARCHIVED ON 21:58:15 Oct 14, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:52 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 68.023
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.08
  cdx.remote: 0.062
  esindex: 0.009
  LoadShardBlock: 38.214 (3)
  PetaboxLoader3.datanode: 49.215 (4)
  load_resource: 803.374
  PetaboxLoader3.resolve: 767.57
*/