/*
  Tout ce qui suit n'est pas sous licence libre.
  Veuillez respecter le travail et mettez qui est l'auteur si
  vous utilisez une partie (ou tout) de ce CSS.
  
  Romain Gaucher / neuroo@kouette.com

*/

body
{
 margin: 0;
 background: #444;
 font : 14px "Trebuchet MS", Verdana,Geneva,Arial,Helvetica,sans-serif;
 color: #fff;
 line-height: 18px;
}

acronym:hover {
  cursor: help;
}


#entete {
	position: absolute;
	left: 50%;
	top: 0;
	right: auto;
	bottom: auto;
	margin-left: -390px;
	width: 780px;
	clear: both;
  background: #105171 url(fond.jpg) repeat-y 100% 0;
	border-left:  solid 1px #fff;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

#entete img {
 border: 0px;
}

#entete #retour {
 position: absolute;
 top: 5px;
}

#entete #logo {
  position: relative;
  top: -15px;
  background: #105171 url(logo.jpg) no-repeat;
  height:320px;
  width: 780px;
}
#entete #logo p {visibility: hidden;}

#entete #contenu {
	position: relative;
	left: 200px;
	top: -10px;
	width : 500px;
	padding: 0;
	margin: 0 0 0 42px;
	text-align: justify;

}

#entete #contenu h1 {
	font-size:   18px;
  border-bottom: 1px dashed #fff;
}

#entete #contenu h2 {
  text-align: right;
	font-size:   16px;
	font-style: italic;
}


#entete #contenu p {
	margin: 0 0 0 0;
	font-size:   14px;
	line-height: 15px;
	color: #fff;
	text-align: justify;
}

#entete #contenu a {
  color: #fff;
  text-decoration: underline;
}
#entete #contenu a:hover {
  color: #C35A1E;
  border-bottom: 1px dotted #fff;
}

#entete #contenu li {
  list-style: lower-roman outside;
}


/* Espace contenant le premier menu
 *  - L'esprit Zz etc.
 */
#entete #menu {
  position: absolute;
  left: -5px;
  top: 330px;
  _top: 345px;
  width: 230px;
}

#entete #menu ul {
  list-style: none;
}

#entete #menu li {
  display: block;
  _margin: 0 0 -25px 0; /* feinte pour que IE le prenne... mais uniquement IE */
  line-height: 25px;
  font-size: 18px;
  border-left: 2px #0D2630 solid;
}

#entete #menu li a{
  display: block;
  background-color: #105171;
  color: #fff;
  text-decoration: none;
  padding: 0 0 0 15px ;

}

#entete #menu li a:hover{
  background: #0D2630;
}

#entete #menu li.selected a {
  border-left: 10px solid #0D2630;
  border-right: 1px solid #0D2630;
  border-top:   1px solid #0D2630;
  border-bottom:   1px solid #0D2630;
}

#entete #menu li.selected a:hover {
  background: #0D2630;
}

/* SÚparateur entre les deux
 *
 */
#entete #separateur_vrac {
  position: absolute;
  top: 471px;
  left: 0px;
  width: 172px;
  height: 35px;
  background: #105171 url(separateur.gif) no-repeat;
}
#entete #separateur_menu {
  position: absolute;
  top: 309px;
  _top: 309px;
  left: 0px;
  width: 172px;
  height: 35px;
  background: #105171 url(menu.gif) no-repeat;
}

#entete #separateur_vrac p {visibility: hidden;}
#entete #separateur_menu p {visibility: hidden;}


/* Raccourcis vers l'annuaire, le forum etc.
 */
#entete #raccourcis {
  position: absolute;
  left: -5px;
  top: 490px;
  _top: 505px;
  width: 230px;
}

#entete #raccourcis ul {
  list-style: none;
}

#entete #raccourcis li {
  display: block;
  _margin: 0 0 -25px 0; /* feinte pour que IE le prenne... mais uniquement IE */
  line-height: 25px;
  font-size: 18px;
  border-left: 2px #C35A1E solid;
}

#entete #raccourcis li a{
  display: block;
  background-color: #105171;
  color: #fff;
  text-decoration: none;
  padding: 0 0 0 15px ;

}

#entete #raccourcis li a:hover{
  background: #C35A1E;
}

#entete #raccourcis li.selected a {
  border-left: 10px solid #C35A1E;
  border-right: 1px solid #C35A1E;
  border-top:   1px solid #C35A1E;
  border-bottom:   1px solid #C35A1E;

}
#entete #raccourcis li.selected a:hover {
  background: #C35A1E;
}

/* Pied de page
 *
 */
#footer {
  position: absolute;
  left: 200px;
  font-size: 12px;
}

#footer p {
  text-align: center;
}

#footer a       {color: #FFFFFF; text-decoration: none;}
#footer a:hover {color: #C35A1E; text-decoration: none;}


