<TITLE>Membership in the ASU</TITLE>
<HEAD>
<H1>
<BODY><HR>
<! IMG SRC="./images/bann04.gif" align="center">
<br>
<FONT SIZE="+3"><CENTER>Membership in the ASU</CENTER></FONT SIZE="+3">
<br><HR>
<! IMG SRC="./images/bann04.gif" align="center"><BR>
</H1>
</HEAD>
<P><B><FONT SIZE="4">Article 3. Membership</B> </FONT>
<P><FONT SIZE="4"><font color=red>3.1</font> Membership in The Association is open to organizations 
and individuals supporting the objectives of The Association and who agree to 
abide by its bylaws. The recognized forms of membership are: </FONT>
<P><FONT SIZE="4">(a) <font color=red>Full membership</font> </FONT>
<P><FONT SIZE="4">(b) <font color=red>Corresponding membership</font> </FONT>
<P><FONT SIZE="4">(c) <font color=red>Honorary membership</font></FONT>
<P><FONT SIZE="4">(d) <font color=red>Corporate or Institutional membership</font> <br>
<p>Full members of The Association are individuals who have paid the full 
<A HREF="./mfee98.htm">membership fee</A> as 
decided by the Annual Meeting.</FONT>
<br><FONT SIZE="4">Full members are entitled to vote at The Association's meetings 
and to hold office. Full members receive all communications of The Association 
which are directed to the membership.</FONT>
<br><FONT SIZE="4">Full members who default on payment of full membership fees 
shall be transferred to corresponding membership. 
<p>Corresponding members of 
The Association are individuals who receive all communications of The Association 
which are directed to the membership. </FONT>
<br><FONT SIZE="4">Corresponding members do not have the privilege to vote at The 
Association's meetings nor may they be elected to office in The Association. However, 
they may be appointed to assignments by the Council. In the event that the Annual 
Meeting levies a subscription fee, corresponding membership status is contingent 
upon payment of the subscription fee. </FONT>
<br><FONT SIZE="4">All individual members are considered to be full members if the 
Annual Meeting sets the full membership fee to zero. 
<p>Honorary membership in The 
Association is reserved for individuals who have made outstanding contributions to 
The Association as such, or who have made an extraordinary degree furthered the aims of The Association. </FONT>
<br><FONT SIZE="4">Honorary membership is bestowed through the recommendation of 
the Council and is to be ratified by 2/3 of the votes cast at an Annual Meeting. 
The above proceedings should only be undertaken in situations in which a clear historical perspective obtains. </FONT>
<br><FONT SIZE="4">Honorary members may vote at meetings of The Association and they may be elected to office. Honorary members shall receive all communications that are directed to the general membership. 
<p>Corporate or Institutional membership is open to corporations or institutions that are active in fields which are considered to be important for furthering the aims of The Association. </FONT>
<br><FONT SIZE="4">This type of membership is subject to a corporate membership fee which is decided at the Annual Meeting of The Association. Corporations and Institutions acquire membership through accepting a membership invitation from the Council. </FONT>
<br><FONT SIZE="4">One predesignated individual may officially represent the corporate or institutional member at activities of The Association. Individuals representing corporate or institutional members shall receive all communications directed to the general membership. </FONT>
<br><FONT SIZE="4">These individuals may vote at the meetings of The Association and they may be elected to office. Participants from corporate and institutional member organizations who are attending The Association's activities may be granted special benefits by the Council. 
<p><font color=red>3.2 </font>New members in all categories are registered as members at the Secretariat upon payment of eventual fees and upon fulfillment of stipulated procedures. </FONT>
<P><FONT SIZE="4">The Secretariat shall give a report at the Annual Meeting concerning the membership rolls and the changes that have occurred during the past year. 
<p><font color=red>3.3</font> A change in membership, or termination of membership, should be notified in writing to the Secretariat. 
<p><font color=red>3.4 </font>The Annual meeting may revoke a membership if it finds sufficient reason for doing so. Such decisions require at least 2/3 majority of the members present. </FONT>
<P><FONT SIZE="4"></FONT>
<BR><HR>
<!IMG SRC="./images/bann04.gif"><BR>
<IMG SRC="./picture/mail.gif" ALIGN="MIDDLE"> If you have some comments, please,mailto : 
<A HREF="mailto:asu@isima.fr">asu@isima.fr</A>
<BR><HR><! IMG SRC="./images/bann04.gif">

</BODY>
</HTML>
