/* Hide unreplaced attachments token */

span.hide_attachments_token {
    display: none;
}

/*
     FILE ARCHIVED ON 02:51:04 Feb 09, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:24 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 75.813
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.065
  RedisCDXSource: 0.48
  esindex: 0.006
  LoadShardBlock: 58.6 (3)
  PetaboxLoader3.datanode: 77.907 (4)
  load_resource: 902.907
  PetaboxLoader3.resolve: 858.619
*/