.ari-image-slider-wrapper
{
	margin: 0 auto;
}

body .ari-image-slider-wCtrlNav 
{
	margin-bottom: 30px;
}

.nivoSlider {
	position:relative;
	margin: 0;
	background:#202834 url(/web/20140209025511im_/http://www.isima.fr/isima/modules/mod_ariimageslider/mod_ariimageslider/js/themes/default/images/loading.gif) no-repeat 50% 50%;
	-moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivoSlider a {
	border:0;
}

.nivo-controlNavHolder {
	position:absolute;
	left:50%;
	width:auto;
	bottom:-23px;
}

.nivo-controlNav {
	position: relative;
	left: -50%;
	top: 0;
	width: auto;
}

.nivo-controlNav a {
	display:block;
	width:10px;
	height:10px;
	background:url(/web/20140209025511im_/http://www.isima.fr/isima/modules/mod_ariimageslider/mod_ariimageslider/js/themes/default/images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:-10px 0;
}

.nivo-directionNav a {
	display:block;
	width:32px;
	height:34px;
	background:url(/web/20140209025511im_/http://www.isima.fr/isima/modules/mod_ariimageslider/mod_ariimageslider/js/themes/default/images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-32px 0;
	right:10px;
}
a.nivo-prevNav {
	left:10px;
}
.nivo-controlNav a.hover {
	background-position:-10px 0;
}
.nivo-controlNav .nivo-thumbNavWrapper img {
	display: block !important;
	position: absolute;
	top: -100%;
	left: -50%;
	margin-top: -12px;
	border: 1px solid #A0A0A0;
	background-color: #FFF;
	padding: 3px;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}
.nivo-arrow-border {
  border-color: #0E0E0E transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  height:0;
  width:0;
  position:absolute;
  bottom:100%;
  margin-bottom: -5px;
  left:0;
}
.nivo-arrow {
  border-color: #FFF transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  height:0;
  width:0;
  position:absolute;
  bottom:100%;
  margin-bottom: -5px;
  left:0;
}

/*
     FILE ARCHIVED ON 02:55:11 Feb 09, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:24 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 113.111
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.069
  cdx.remote: 0.06
  esindex: 0.009
  LoadShardBlock: 87.397 (3)
  PetaboxLoader3.datanode: 1043.446 (5)
  PetaboxLoader3.resolve: 171.565 (3)
  load_resource: 1234.212 (2)
*/