/**
 * @copyright	Copyright (C) 2005 - 2012 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Import project-level system CSS */
@import url(/web/20140209015723cs_/http://www.isima.fr/isima/media/system/css/system.css);

/* Unpublished */
.system-unpublished, tr.system-unpublished {
	background: #e8edf1;
	border-top: 4px solid #c4d3df;
	border-bottom: 4px solid #c4d3df;
}

span.highlight {
	background-color:#FFFFCC;
	font-weight:bold;
	padding:1px 4px;
}

.img-fulltext-float-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img-fulltext-float-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-fulltext-float-none {
}

.img-intro-float-right {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.img-intro-float-left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.img-intro-float-none {
}
/*
     FILE ARCHIVED ON 01:57:23 Feb 09, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:25 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1140.752
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.065
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 415.054 (3)
  PetaboxLoader3.resolve: 1218.873 (5)
  PetaboxLoader3.datanode: 99.113 (5)
  load_resource: 964.787 (2)
*/