div.mod-languages ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
div.mod-languages li {
	margin-left: 5px;
	margin-right: 5px;
}

div.mod-languages ul.lang-inline li {
	display:inline;
}

div.mod-languages ul.lang-block li {
	display:block;
}

div.mod-languages img {
	border:none;
}

div.mod-languages a {
	text-decoration: none;
}
/*
     FILE ARCHIVED ON 01:55:01 Feb 09, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:24 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 155.638
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.059
  cdx.remote: 0.054
  esindex: 0.01
  LoadShardBlock: 122.566 (3)
  PetaboxLoader3.datanode: 162.168 (5)
  load_resource: 1342.51 (2)
  PetaboxLoader3.resolve: 1223.068 (2)
*/