<HEAD><TITLE>Civil Protection Simulation on the Web</TITLE></HEAD>
<Center>
<body background="sfondo.gif">
<H2>Object-Oriented Documentation from Simulation for Civil Protection & Industrial Plant Accidents Shared directly on the Web</H2>
<H4><A HREF="#Agostino">Agostino G. Bruzzone</A><BR>
Department of Production Engineering, University of Genoa<BR>
via Opera Pia 15, 16145, Genova, Italy<BR>
<A HREF="mailto: agostino@itim.unige.it ">agostino@itim.unige.it</A><BR>
<A HREF="http://st.itim.unige.it">http://st.itim.unige.it</A></H4>

<H4><A HREF="#Elisa">Elisa Manetti</A><BR>
Blue Sky Technology<BR>
via XX Settembre 28/10A, 16121 Genova, Italy<BR>
<A HREF="mailto: bluesky@aleph.it">bluesky@aleph.it</A></H4>

<H4><A HREF="#Pea">Paolo Perletto</A><BR>
Liophant Simulation Club<BR>
via XX Settembre 28/10A, 16121 Genova, Italy<BR>
<A HREF="mailto: liophant@sos.unige.it">liophant@sos.unige.it</A><BR>
<A HREF="http://st.itim.unige.it/liophant/liophant.html">http://st.itim.unige.it/liophant</A></H4>
</Center>
<BR>
<H4>Abstract</H4>

In Civil Protection operations related to both natural emergencies and man-made industrial accidents, the possibility of sharing the data analysis is a key factor.
The simulation can in fact support this kind of problem very effectively, becoming a useful training tool by performing scenario analyses and making operative forecasts. The process of distributing data among experts,  authorities and operating personnel is often time-consuming and involves complex organizational structures and has a low impact on the results. This paper points out the potential of using Object-Oriented architecture for the documentation so that it can be shared directly on the web through HTML (free access with any browser, such as Netscape(tm)).
<BR>

<H4>Introduction</H4>

The authors present research about the possibility of transferring simulation results on the web with 
an easy-to-use and immediate process.  In previous work, it was possible to construct simulation environments for different kinds of problems (fires in an industrial environment, hazardous material fall-out, oil-spills and epidemic emergencies). <A HREF="#R1">[1]</A><A HREF="#R2">[2]</A><A HREF="#R3">[3]</A><A HREF="#R4">[4]</A>
The problems regarding emergency management simulation is strictly related to three major activities: "a priori" planning, training and operative support.
Research in the simulation area mainly focuses on the first two aspects but operative support must be considered as an integration of the model in advanced interface and communication systems.
Recently, the introduction of new techniques and methodologies provided a great opportunity to improve training results by using simulation also in very difficult environments, such as industrial plant accidents (i.e. virtual reality). <A HREF="#R5">[5]</A><BR>
From another point of view, for the data obtained from the simulation to become effective, such information must be shared among the civil protection community. This approach could improve efficiency through training and pre-planning and, at the same time, is a very powerful support during operations. <A HREF="#R6">[6]</A>
The authors propose to construct Object-Oriented architecture for the data provided by the emergency simulators (see <A HREF="Fig10.htm">fig.1</A>) for web site automated construction. Thus, it is immediately possible to develop an HTML dynamic structure with all the information obtained from the emergency scenario.
In the future, the authors expect to develop the simulation directly using Java-based environments, but on the basis of the present research it is evident that this simple approach for the automated construction of web pages also has a great impact on sharing simulation data. <A HREF="#R7">[7]</A>

<BR>
<H4>The Problem</H4>

Today, emergency management requires extensive use of Information Technology (IT). From this viewpoint the traditional military C4 architecture (Command, Control, Communications & Computers) is capable of supporting this kind of operation and is used extensively during major crisis situations.
There are many problems in using these systems in civil protection: the cost, the complexity and the platform used are unacceptable for the distribution of such equipment, or derived systems, among the civil and industrial realities. This means that the use of such equipment is restricted to the military forces involved in emergency management procedures. <A HREF="#R8">[8]</A>
Another very important aspect concerns emergency modeling: the models developed from the military services often do not attribute much importance to the aspects related to civil protection operations (industrial accidents, identification & evacuation of the physically impaired, peace-time constraints for evacuation procedures).
For this reason, a large amount of time is needed to develop the models that are capable of supporting this kind of problem, which focus on specific realities such as emergencies in industrial facilities, and to integrate them in operational supports. <A HREF="#R9">[9]</A>
The authors are in fact working to develop a new shell to support operations to carry out all the civil protection procedures.
The system proposed by the authors, called CIPROS (tm) (Civil Protection System & Simulation,<A HREF="Fig20.htm">fig.2</A>) runs in the Windows(tm) environment on a Personal Computer. It is based on Object-Oriented modeling of all entities on the scenario and includes a simulation model for predictive analysis on Hazardous Material Fallout, Explosions and Flooding (see <A HREF="Fig30.htm">fig.3</A>). <A HREF="#R10">[10]</A>

<BR>
<H4>The Operative Procedures</H4>

The use of an advanced emergency management package involves major problems in terms of the 
development of proper simulation models, but also in sharing the results.
As already mentioned for the real operation application (or in training) it must be possible to use the system 
in a distributed environment: civil protection does in fact include different entities (fire-fighters, agencies, local administrations, etc.).
Based on the budget constraints of this sector and the different skills of the present users, the communication system should be developed in an easy and efficient manner.
For this reason, CIPROS performs both the simulation forecast and the automated construction
of dynamic HTML web sites including comprehensive result presentations and reports about the current situation. The system upgrades such data in an automated process and the user can in fact redesign the site just by defining links among the different data objects.
This ensures that the site will have a simple construction and a user friendly upgrade of the crisis representation by adding special forecasts, graphs or reports.
Using this approach, each operative user can connect and navigate in this organized group of data just by using a browser and a simple Internet access. From another viewpoint, no special knowledge or skill is required to construct this web site.
The system could also be used as a training support to construct hypothetical scenarios. The headquarters can develop a case study while remote users could be trained to react to the evolving situation and to use the system.
From another point of view, the system could also easily become an operative support for the squads that receive general information using mobile Internet connections and laptops.
The present development architecture is based on a central system using the CIPROS package, several other CIPROS sites (local crisis centers) and remote users (local admininstrations, operative squads) utilising a simple browser. The central system simulates the evolution of the emergency and upgrades the web site in an automated manner, the crisis centers will be used to support forecasting and local analysis while the remote users can access all the data organized by the higher architectural levels.
This architecture guarantees easy system development and fast unit training. In addition, the potential of this approach could ensure further development to increase the interactivity among the units and the efficiency of the communications.

<BR>
<H4>The Simulator Model</H4>

The simulator implements an object-based structure and each object reproduces an entity of interest to civil protection. Presently, the graphic user interface is only based on two-dimensional mapping, even if 3D maps (DEM Digital Elevation Maps) are used by the model to consider the boundary conditions for reproducing some emergency phenomena (i.e. flooding).
Each map entity is defined as type (point, line, area, linked object) and location. Of course, each entity also has all the information related to its particular type (i.e. chemical tank objects include information about the chemical compound and the toxic risk). This is based on an object-oriented structure.
The objects in the system are divided into major classes and sub-classes:<BR>
<PRE>
	Geographical Objects
		Urban Areas
		Rivers
		Maps
	Territorial Human Objects
		Roads
		Highways
		Streets
		Buildings
		Hospitals
		Schools
	People Objects
		People with Physical Impairments
		People over the reference Age
		etc.
	Resource Objects
		Vehicles
		Headquarters
		Evacuation Centers
	Emergencies
		Explosions
		Flooding
		Fall-out
		etc.
</PRE>
As previously mentioned, the objects are defined on the map by references with other objects, or by the position (UTM or Latitude and Longitude). From a geometrical point of view, each object could be a single or a mix of graphical entities (lines, points, circles, squares, polygons, etc.). These objects are connected with raster images to enhance visualization in the areas where mapping is available.
The data (which also includes the address of each inhabitant) are stored by using SQL Dbases and should be linked (based on periodical refreshing procedures) with the administrative centers of the town in the area being analysed.
The simulation core reproduces the behaviour of the emergencies. With this approach the system could identify all the objects affected by the emergency in order to support crisis management.
<BR>
<H4>The Object-Oriented Documentation</H4>

In effect, the system is a GIS (Geographic information system) for Emergency Management. CIPROS can be used in an automated manner to report all the classes of entities in risk conditions due to the emergency. The reports are designed to support planning and logistics. <A HREF="#R11">[11]</A>
It is possible to define complex combinations of emergencies (see <A HREF="Fig40.htm">fig.4</A>) and the system can track the civil protection procedures using automated checklists (see <A HREF="Fig50.htm">fig.5</A>), evacuation personnel lists, etc.
To distribute this information, as well as the samples about emergency scenarios, among the entire community of people interested in civil protection, the authors developed an object-oriented structure to translate the traditional documentation provided by CIPROS on web pages. At the present time this approach allows people operating with a traditional browser to navigate easily within the information, with the possibility of printing and storing dynamically evolving information. This approach has already been implemented by the authors in CIPROS - this is just the first step for evaluating the potential and the cost of developing this idea.
The initial objective presented in this paper is to construct information structures that are available to people without any specific equipment and knowledge: just the capacity to use a browser link to Internet (or Intranet).The authors have already obtained some very interesting results by using this simplified approach in training procedures. <A HREF="#R12">[12]</A>
We identified various major classes of objects for documentation:<BR>
<PRE>
	Reports
	Graphic Scenarios
		Simulation Scenarios
		Generic Mapping
	General Descriptions
</PRE>
Each class includes some major characteristics:<BR>
<PRE>
	Title
	Subtitle
	Notes
	Links
	Security Level (public, available for Civil Protection users, classified)
</PRE>
By this approach it is possible to automate the creation of the web pages related to an emergency procedure from a simulated scenario or to add new documents to the web pages just by describing the link to be related to other information.
The program is mainly implemented in C/C++ and Visual Basic(tm) (for the user interface). CIPROS constructs the HTML pages based on some user-defined structures, filling it with the information provided by the graphic interface and the Dbase queries.

<BR>
<H4> CIPROS Operative Description</H4>

The proposed general architecture is based on the creation of the emergency scenario by using the simulation model. The generation of all reports is supported by the analysis systems included in CIPROS. The reports are related to the entities on the map and the system exports the data directly as HTML pages, linked to the web site in some specific position.
The following <A HREF="cipros_m.html">images</A> summarize emergency procedures (i.e. involving explosions and flooding). All the information is dynamically related to the web pages to obtain a immediate description of the emergency, the status of the civil protection procedures and the reports about the area affected by the risk as well as the
HTML information trasferred by OLE from the SQL DBase.


<BR>
<H4>Conclusions</H4>


This proposal provided immediate access to a large amount of people without any specific training about simulation information, therefore it is still a passive approach for such a user considering the potential of this idea.
Future research will also focus on providing remote users (on a Java-based environment) with direct access to the database: in this way it will be possible for any user to share the objects simulated in other sites. This will require users to have additional training to utilise the simulation model. In any case, it will also be critical to provide an interface to the Dbase by queries for those operating only from a generic platform with just a simple browser.
In Italy, the average web speed is still quite slow, therefore it will be very interesting to integrate this approach with the previous research on Virtual Reality for Emergency Management. This will be possible by using VRML 2.0 and more operative information and possible links (such as speech/sounds, animation, automated fax information link for activating/advising resources, etc.).
This idea will allow many people and entities (such as small town administrations, local police, volunteers etc.) to remain up-to-date in terms of pre-planning for emergency, training and operative support. Of course, this last aspect will be possible just based on a much more effective web structure which at this moment is plagued by too many efficiency problems to be used as the main effective support during crisis situations.


<BR>
<H4>References</H4>

<A NAME="R1">[1]</A>	Mosca R., Giribone P. & A.G.Bruzzone (1995) "AI Techniques to Optimize the distribution of Fire-Fighting Squads during an Accident", Proc. of Simulators International XII, Phoenix, April 9-13<BR>
<A NAME="R2">[2]</A>	Mosca R., P.Giribone, A.G.Bruzzone (1994) "Automated Modeling of Chemical Fallout through Simulation", Proceedings of SEM94, San Diego, April 10-15<BR>
<A NAME="R3">[3]</A>	Giribone P., A.G.Bruzzone, S.Caddeo (1995) "Oil Spill & AI : How to manage resources by using Simulation", Proceedings of TIEMEC'95, Nice, May 9-12<BR>
<A NAME="R4">[4]</A>	Avalle L., Bruzzone A.G., Copello F., Guerci A. & A.Scavotti (1995) "Preliminary Analysis for the Creation of a Territorial Epidemic Simulation Model", Proc. of ESM95, Praha, June 5-7<BR>
<A NAME="R5">[5]</A>	Mosca R., Giribone P. & Bruzzone A.G. (1996) "Virtual Reality as a Support for Designing Fire-Fighting Standing Operating Procedures", Proc. of Simulation for Emergency Management, New Orleans LA, April 8-11<BR>
<A NAME="R6">[6]</A>	Williams R. (1995) "Meta and Contingency Planning in Command & Control Context", Proc. of the International Emergency Management and Engineering Conference, Nice, May<BR>
<A NAME="R7">[7]</A>	Miller J, Nair R., Zhang Z., Zhao H. (1997) "JSIM: A Java-Based Simulation and Animation Environment", Proc. of 30th Annual Simulation Symposium, Atlanta, April<BR>
<A NAME="R8">[8]</A>	Jansen B, Hamilton J, Pooch U. (1997) "Modeling and Simulating an Army Information Support Structure", Proc. of Military, Government and Aerospace Simulation, Atlanta<BR>
<A NAME="R9">[9]</A>	Giribone P., A.G.Bruzzone (1994) "Man-Made Disasters - Chemical Plant Accidents", Proceedings of SEM94, San Diego, April 10-15<BR>
<A NAME="R10">[10]</A>	Bruzzone A.G., Giribone P., Mosca R. (1996) "Simulation of Hazardous Material Fallout for Emergency Management During Accidents", Simulation, vol. 66, no.6, June, 343-355<BR>
<A NAME="R11">[11]</A>	Givens G., Camden R. (1994) "Technology to Provide "Anticipation of the Logistics Support Planning Process for Disaster Relief Operations", Proc. of Simulation for Emergency Management, San Diego<BR>
<A NAME="R12">[12]</A>	Mosca R., Bruzzone A.G. & Costa S. (1996) "Simulation as a Support for Training Personnel in Security Procedures", Proc. of Military Government and Aerospace Simulation, New Orleans LA, April 8-11<BR>
<HR>
<H4>Biography</H4>
<A NAME="Agostino"><B>Agostino G. Bruzzone</B></A> began his engineering studies at the Italian Naval Academy and earned 
his Mechanical Engineering degree from the University of Genoa.
Since 1991 he has taught "Theories and Techniques of Automatic Control" 
and has collaborated, using simulation instruments, in the harbour terminal, 
maritime trade and sailboat racing sectors. 
Today he is teaching in Department of Production Engineering of the Genoa 
University "Industrial Project Management".
He works with University of Genoa in the field 
of simulator-based applications for industrial plants, 
developing new methodologies  and AI system integration techniques.
He is the Director of the McLeod Institute for Simulation Science, Genoa Centre;
he is in charge also as Director of Industrial Relation 
for the SCS European Council and as Associate Vice President 
for the Society for Computer Simulation International.
He is involved in the technical committee for AI applications of 
the IASTED and he is founder member and president of the Liophant Simulation Club.
<BR><BR>
<A NAME="Elisa"><B>Elisa Manetti</B></A> earned his Political Sciences degree from the University of Genoa.
She is involved from several years on consulting companies 
and projects in Europe and  Middle East countries as member of the ICMCI.
She works as senior partner in Blue Sky Technology, an company involved 
in the application of advanced technologies to the industrial and service sectors; 
she operates as the general coordinator between the Kuwait Research Council / the
Kuwait University and italian research institutions.
She is the project manager for the quality assurance 
of boat man companies in over sixty Italian harbours.
<BR><BR>
<A NAME="Pea"><B>Paolo Perletto</B></A> in 1996 achieved a University 
Diploma in Logistic and Production Engineering at Genova University-Savona Campus.
He has been involved in the development of real-time software for production
planning and control.
He is interested in the field of production and maintenance planning, activity based costing, 
TQM, industrial safety and emergency management.
He is founder member of the Liophant Simulation Club.
<HR>

  

