<htlm>
<head>
<title>Tanaso River Standing Operative Procedure</title>
</head>
<body>
<body background="sfondoal.jpg">
<center>
<h1>Tanaso River Standing Operative Procedure</h1>
<h2>River Overflowing in Urban Area</h2>
</center>
<IMG SRC="emer_d.jpg" > 
<H3><A HREF="emer_d.html"># General Overview</A></H3>  
<H3><A HREF="emer_d1.html"># Tactical Information</A></H3>  
<HR>
<A HREF="cipros_m.html"><IMG SRC="cip_on_m.gif" align="left"><h4>Cipros Images On Line Main Menu</h4></A>
</body>
</htlm>

