<htlm>
<head>
<title>Scenario: Explosion at Via Guasconia 142, Alexandra</title>
</head>
<body>
<body background="sfondoal.jpg">
<center>
<h1>Scenario: Explosion at Via Guasconia 142, Alexandra</h1>
<h2>Emergency near to a School</h2>
</center>
<h3>Explosion in the Street on the NE part of Alexandra (100,000 inhabitants)</h3>
<h3>General Overview of the Area</h3>
<h3><A HREF="report_a.html">Reports about the risk area.</A></h3>
<IMG SRC="emer_a.jpg" > 
<H3><A HREF="emer_a.html">Overview</A></H3>  
<H3><A HREF="emer_a1.html"># map 1:10000</A></H3>  
<H3><A HREF="emer_a2.html"># map 1:5000</A></H3>  
<HR>
<A HREF="cipros_m.html"><IMG SRC="cip_on_m.gif" align="left"><h4>Cipros Images On Line Main Menu</h4></A>
</body>
</htlm>

