<htlm>
<head>
<title>Scenario: Trabucco</title>
</head>
<body>
<body background="sfondoal.jpg">
<center>
<h1>Scenario: Trabucco</h1>
<h2>Hypothetical Flooding affecting different areas in the Alexandra Downtown</h2>
</center>
<h3>This scenario shown some of the possibility provided by Cipros for defining Emergency Areas</h3>
<h3>This scenario is just a pure hypothesis</h3>
<h3><A HREF="report_b.html">Reports about the risk area.</A></h3>
<IMG SRC="emer_b.jpg" > 
<HR>
<A HREF="cipros_m.html"><IMG SRC="cip_on_m.gif" align="left"><h4>Cipros Images On Line Main Menu</h4></A>
</body>
</htlm>

