<htlm>
<head>
<title>Scenario: Explosion at Via Guasconia 142, Alexandra</title>
</head>
<body>
<body background="sfondoal.jpg">
<center>
<h1>Scenario: Explosion at Via Guasconia 142, Alexandra</h1>
<h2>Emergency near to a School</h2>
<H3><A HREF="report_a.rp1">Report: Urban Streets in the Risk Area</A></H3>
<H3><A HREF="report_a.rp2">Report: Industries in the Risk Area</A></H3>
<H3><A HREF="report_a.rp3">Report: Roads & Highways in the Risk Area</A></H3>
<H3><A HREF="report_a.rp4">Report: Rivers in the Risk Area</A></H3>
<H3><A HREF="report_a.rp5">Report: Other Objects in the Risk Area</A></H3>
<HR>
<H3><A HREF="report_a.rp6">Report: People in the Risk Area</A></H3>
<H3><A HREF="report_a.rp7">Report: People with Physical Impairments in the Risk Area</A></H3>
<HR>
<H3><A HREF="emer_a.html">Maps & Graphics</A></H3>
<A HREF="cipros_r.html"><IMG SRC="cip_on_m.gif" align="left"><h4>Cipros Reports On Line Main Menu</h4></A>
</body>
</htlm>

