<H2> Mise en place du Dipl&ocirc;me de Sp&eacute;cialisation par la Recherche</H2>
<P>Elle correspond aux objectifs suivants :
<P>- Cr&eacute;er les conditions propices &agrave; la participation des ing&eacute;nieurs &agrave; des projets
 de recherche. Cette pr&eacute;occupation s'inscrit dans le cadre des projets du Minist&egrave;re
 de L'Enseignement Sup&eacute;rieur et de la Recherche relatifs au Dipl&ocirc;me de Recherche
 et de Technologie (Bac+6). On constate, par exemple, qu'au sortir de leur 3&egrave;me 
ann&eacute;e d'Ecole, une petite minorit&eacute; d'&eacute;tudiants ing&eacute;nieurs, titulaires d'un DEA, 
acceptent d'investir dans une th&egrave;se. Ce qui est regrettable, car ces &eacute;tudiants sont en 
g&eacute;n&eacute;ral ceux qui ont d&eacute;montr&eacute; les meilleures aptitudes au travail scientifique. 
Amener des &eacute;tudiants ing&eacute;nieurs qui ont soutenu un DEA en 3&egrave;me ann&eacute;e &agrave; 
effectuer une ann&eacute;e &agrave; l'ISIMA peut aider &agrave; combler ce d&eacute;ficit et faciliter les 
transferts de technologie de l'Universit&eacute; vers les entreprises.
<P>- R&eacute;pondre de mani&egrave;re plus consistante aux demandes d'approfondissement
 (sp&eacute;cialisation) des connaissances scientifiques des ing&eacute;nieurs en Informatique et
 d'adaptabilit&eacute; (ouverture pluridisciplinaire, culture scientifique g&eacute;n&eacute;rale, voire
 double comp&eacute;tence).
<P>- Renforcer l'implication des entreprises, autour de th&egrave;mes et selon des
 points de vue qui leur sont propres, dans la p&eacute;dagogie dispens&eacute;e aux &eacute;l&egrave;ves-ing&eacute;nieurs.

