
<!--



/* Details generaux du corps */
body
{
  text-align                : center        ;
  scrollbar-3dlight-color   : green         ;
  scrollbar-arrow-color     : gray          ;
  scrollbar-darkshadow-color: purple        ;
  scrollbar-face-color      : #336699       ;
  scrollbar-highlight-color : white         ;
  scrollbar-shadow-color    : gray          ;
  scrollbar-track-color     : lightsteelblue;
}


/* Proprietes de la page */
div.box
{
  position    : relative          ;
  top 	      : 0px               ;
  width       : 900px             ;
  height      : 550px             ;
  margin-left : auto              ; /* moitie de la largeur */
  margin-right: auto              ; /* moitie de la largeur */
  border      : 0px solid #336699 ;
  text-align  : left              ; /* pour retablir l'alignement a gauche du texte */
  padding     : 0px               ;
}


/* Proprietes du bandeau du logo */
div.bandeauLogo
{
  position   : absolute ;
  left       : 0px      ;
  top        : 0px      ;
  background : white    ;
  width      : 100%     ;
  height     : 12%      ;
  z-index    : 2        ;
}


/* Proprietes du bandeau bleu */
div.menu
{
  position      : absolute ;
  left          : 0px      ;
  top           : 12%      ; 
  background    : #336699  ;       
  width         : 100%     ;
  height        : 5%       ;	
}

div.menu2
{
  position:absolute;
  width:780px;
  height:33px;
  z-index:1;
  top: 12.5%;
  left: 15%
}
/* Proprietes des liens */
a:link    { text-decoration:none; font-weight:bold; color:black; }
a:visited { text-decoration:none; font-weight:bold; color:black; }
a:hover   { text-decoration:none; font-weight:bold;              }
a:active  { text-decoration:none; font-weight:bold;              }

/* Nouvelle Declaration et proprietes des liens */
a.newlien, a.newlien:visited
{
/*	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: White;
*/
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: White;
	border: solid #336699;
	background: #336699;
}

a.newlien:hover, a.newlien:active
{
/*
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: Black;
*/
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #336699;
	border: medium solid White;
	background: White;
}

/* Proprietes de la zone du logo */
div.logo
{
  position          : absolute ; 
  top               : 6%       ;
  left              : 4%       ;
  width             : 40%      ;
  height            : 94%      ;
  background-image  : URL(../../images/logo768.gif);
  background-repeat : no-repeat;
  z-index           : 1        ;
}


/* Image du lien vers l'accueil */
img.accueil
{
  position   : absolute  ; 
  top        : 70%       ;
  left       : 75%       ;
}


/* Proprietes de la zone "Institut superieur..." */
div.institut
{
  position : absolute; 
  top      : 4%      ;
  left     : 42%     ;
  width    : 60%     ;
  height   : 96%     ;
  background-image: URL(../../images/institut768.gif);
  background-repeat: no-repeat;
  z-index  : 1       ;
}


/* Proprietes des coins du cadre */
img.coingauchehaut
{ 
  position   : absolute ;
  left       : -2px     ;
  top        : -2px     ;
}
img.coindroithaut
{ 
  position   : absolute ;
  left       : 882px    ;
  top        : -2px     ;
} 
img.bandehaut
{ 
  position   : absolute ;
  left       : 18px     ;
  top        : -2px     ;
} 
img.bandelateralegauche
{ 
  position   : absolute ;
  left       : -2px     ;
  top        : 17px     ;
} 
img.bandelateraledroite
{ 
  position   : absolute ;
  left       : 900px    ;
  top        : 17px     ;
} 
img.coingauchebas
{ 
  position   : absolute ;
  left       : -2px     ;
  top        : 533px    ;
}
img.coindroitbas
{ 
  position   : absolute ;
  left       : 884px    ;
  top        : 533px    ;
} 

/* Proprietes du texte du bandeau bas */
img.coordonnees1
{
  position   : absolute ; 
  top        : 2%       ;
  left       : 14%      ;
}
a.coordonnees2
{
  position   : absolute ; 
  border     : none     ; 
  top        : 50%      ;
  left       : 62%      ;
}
img.coordonnees2
{
  position : absolute ; 
 border    : none     ; 
}


/* Proprietes du bandeau du bas */
div.bandeauBas
{
  position     : absolute ; 
  top          : 94%      ;
  left         : 0%       ;
  width        : 100%     ; 
  height       : 6%       ;	
  font-family  : verdana  ;
  font-size    : 8pt      ;
  color        : black    ;
  text-align   : center   ;
  background-color:#336699;
}





-->
