
<!--


/* Modification ou rajout de proprietes
   aux elements definis dans CSS_Box_768.css */



div.box
{
  width : 750px ;
  height: 435px ; 

}

div.bandeauLogo
{
  height : 10% ;
} 

div.menu
{
  top    : 10% ; 
  height : 7%  ;	
}

div.menu2
{
  position:absolute;
  width:700px;
  height:33px;
  z-index:1;
  top: 11%;
  left: 7%
}
/* Nouvelle Declaration et proprietes des liens */
a.newlien, a.newlien:visited
{
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	color: White;
	border: solid #336699;
	background: #336699;
}

a.newlien:hover, a.newlien:active
{
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	color: #336699;
	border: medium solid White;
	background: White;
}
div.logo
{
  top  : 4% ;
  background-image: URL(../../images/logo600.gif) ;
}

img.accueil
{
  top  : 60% ;
  left : 65% ;
}

div.institut
{
  top    : 5%  ;
  left   : 45% ;
  height : 80% ;
  background-image: URL(../../images/institut600.gif);
}


img.coindroithaut
{ 
 left : 732px ;

} 

img.bandehaut
{ 
 width  : 725px ;
 height : 2px    ;
} 

img.bandelateralegauche
{ 
 height : 402px ;
 width  : 2px   ;
} 

img.bandelateraledroite
{ 
 left   : 750px ;
 height : 402px ;
 width  : 2px   ;
} 

img.coingauchebas
{ 
  top : 419px ;
}

img.coindroitbas
{ 
  left : 734px ;
  top  : 419px ;
} 

img.coordonnees1
{
  top  : 5%  ;
  left : 10% ;
}

a.coordonnees2
{
  top  : 48% ;
  left : 67% ;
}


div.bandeauBas
{
  top       : 92% ;
  height    : 8.5%  ;	
  font-size : 5px;
}



-->

