
<!--



div.centre
{
  top    : 17.1% ;
  height : 76.4% ; 
}


div.page
{
  left   : 21% ;
  width  : 79% ;
  height : 98% ; 
  font-size  : 9pt      ;
}


ul.menu
{
  top  :10% ;
  left : 0%  ;
  width: 101%; /* si 100%, ne rentre pas en largeur ! */
}


ul.sousMenu
{
  left      : -26px   ;
  width     :  90%    ;  
  font-size :  9pt   ;
}

img.sousmenu
{
 width: 150px;
}

p.sousMenu
{
  position   : absolute ;
  left       : 15px     ;
  top        : 15px     ;
/*  color      : #336699 ;*/
font-family: Verdana  ;
  font-size  : 10pt     ;
text-align : left ;
}

-->


