/*
Theme Name: ISITheme
Author: Souquiere, Alexis & Gagnevin, Cedric
Description: Charte graphique de l'ISIMA, 2014
Version: 1.2
 */


/**********************************************************/
/******************** GENERAL *****************************/
/**********************************************************/
* { 
	margin: 0; padding: 0; 
}
body {
	font:13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	-webkit-font-smoothing: antialiased !important;	
	background: url("/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/pattern.jpg") repeat scroll 0 0 #F8F8F8;
}
h1, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  	line-height: 40px;
	font-size: 2.2em;
	vertical-align: bottom;
	color: #fff;
}
h2 {
   	line-height:36px;
	font-size: 34px;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	color: #185e75;
}
h3 {
	margin-top: 20px;
  	line-height:28px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #007aa3;
}
h4 {
	font-size: 18px;
  	line-height:22px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	color: #0094c6;
}
p {
	margin: 0 0 15px;
	text-align: justify;
}
header{
	background-color:#2d343e;
	padding:8px 0;
}
nav{
	width:100%;
	background:#005DA3;
	/* Old browsers */
	background:#005DA3 -moz-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	/* FF3.6+*/
	background:#005DA3 -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.2)),color-stop(100%,rgba(0,0,0,.2)));
	/* Chrome,Safari4+*/
	background:#005DA3 -webkit-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	/* Chrome10+,Safari5.1+*/
	background:#005DA3 -o-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	/* Opera11.10+*/
	background:#005DA3 -ms-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	/* IE10+*/
	background:#005DA3 linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	color:#fff;
}
footer {
	background-color:#fff;
	color:#666;
	border-top: 1px solid #e0eaf0;
	width:100%;
	padding-top:60px;
	padding-bottom:45px;
}
header {
	background: #2d343e;
}
header > .container > .row {
	position: relative;
}
nav {
	border-top: 2px solid #F4BA1B;
}
ul {
	list-style-type: none;
}
ul {
  padding: 0;
  margin: 0 0 0;
}
ul ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
a {
  color: #0088cc;
  text-decoration: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	background-color: #ffffff;
	border: 1px solid #e2e2e2;
	box-shadow:0 0 8px #e3e3e3 inset;
	-webkit-shadow:0 0 8px #e3e3e3 inset;
	-moz-shadow:0 0 8px #e3e3e3 inset;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	margin-bottom:20px;
}
.required {
	color: red;
}

/*
section li {
	padding-left: 1em; 
    text-indent: 1em;
}
section ul li:before, .col-right ul li:before {
	position:relative;
	margin-right: 0.5em;
    content: "\25A0";
    color: #185e75;
    font-size:1em;
    top: -0.1em;
}
*/
footer {
	padding: 20px 0;
	border-top: 2px solid #f4ba1b;
	background: #2d343e;
	color: #fff;
}

footer h3 {
	color: #f4ba1b;
}

footer ul {
	margin-left: 15px;
	list-style-type: square;
}

footer a {
	color: #fff;
	font-weight: bold;
}

footer a:hover {
	color: #fff;
	text-decoration: underline;
}
footer button {
	margin-bottom: 20px !important;
}

nav li.hover > ul {
    left: 0;
}
nav li li.hover ul {
    left: 100%;
    top: 0;
}
nav li li a {
    display: block;
    position: relative;
    z-index:100;
}
nav li li li a {
    z-index:200;
}
label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}


/*********************************************************/
/******************** HEADER *****************************/
/*********************************************************/
#logo {
	width: 20%;
	padding: 5px 0;
}
#title {
	position: absolute;
	bottom: 0;
	left: 22%;
}
#title h1 {
	margin: 0;
}
#languages {
	float: right;
	width: 100px;
}
#languages li {
	display: block;
}
#languages a {
	color: #fff;
	text-decoration: none;
}
#languages a:hover {
	text-decoration: underline;
}
nav .menu {
	width:100%;
	height:44px;
	list-style:none;
	padding:0;
	margin:0 auto;
	text-align: center;
}
nav .menu > li {
	display:inline;
	border:none;
	margin:0;
	background-color:transparent;
	padding: 13px 0 13px 0;
	text-align: left;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	-ms-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}
nav .menu > li:hover {
	background-color:#005DA3;
	box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-webkit-box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-moz-box-shadow:  inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	color:#fff;
}
nav .menu > li.active {
	background-color:#006e92;
	box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-webkit-box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-moz-box-shadow:  inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	color:#fff;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);	
}
nav .menu > li > a {
	line-height:44px;
	outline:0;
	text-decoration:none;
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	font-size:12px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
nav .menu > li > a {
	background-image:url("/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/arrow-down-white.png");
	background-repeat: no-repeat;
	background-position:right 20px;
	padding:14px 30px 15px 15px;
	color:#fff;
}
nav .menu > li > a:hover {
	cursor:pointer;
	background-image:url("/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/arrow-down-white.png");
	color:#fff;
}
.megamenu> li.active > a{
	cursor:pointer;
	background-image:url("/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/arrow-down-white.png");
	color:#fff;
}

nav .menu > li > .sub-menu {
    position: absolute;
	z-index:9998;
	color:#fff;
	margin:0 0 40px 0;
	padding:15px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top:none;
	background:#2d343e;
}
.megamenu_push nav .menu > li > .sub-menu {
	position:relative;
	top:5px;
}
nav .menu > li > .sub-menu ul.list-menu {
	margin-left:0;
	padding-left:5px;
	margin-bottom:20px;

}
nav .menu > li > .sub-menu ul.list-menu li {
	background:url(/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/arrow-2.png) no-repeat center left;
	padding-left:12px;
}
nav .menu > li > .sub-menu > li > a {
	font-size: 16px;
	color: orange;
}
nav .menu > li > .sub-menu > .menu-item-has-children > a:hover {
	text-decoration: none;
	cursor: text;
}
nav .menu > li > .sub-menu > .menu-item-has-children > a {
	text-decoration: none;
	pointer-events: none;
}
nav .menu > li > .sub-menu a {
	color: #fff;
}
nav .menu > li > .sub-menu > a:hover {
	text-decoration: underline;
}

.sub-menu > .menu-item-has-children {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

nav .menu > li {
	position: relative;
}

nav .menu > li > .sub-menu {
	display: none;
    white-space: nowrap;
}
.menu > li > ul {
    position: absolute;
}
/*********************************************************/
/*********************************************************/


/*********************************************************/
/***********************CONTENU***************************/
/*********************************************************/
#titreActualites {
	display: none;
}
.container #featured .mobile {
	display: none;
}
#featured{ 
	width:85%; 
	position:relative; 
	border:2px solid #005DA3;
	overflow:hidden;
	background:#fff;
	box-shadow: 1px 1px 15px #555;
}
#featured div.ui-tabs-nav{ 
	position:absolute; 
	top:0; 
	right: 0; 
	list-style:none; 
	padding:0; margin:0; 
	width:40%; 
	height: 100%;
	overflow:auto;
	overflow-x:hidden;
}
#featured .ui-tabs-nav li{ 
	height: 25%;
	padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured .ui-tabs-nav li img{
	margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured .ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured .ui-tabs-nav-item a{ 
	display:block; 
	height:100%; text-decoration:none;
	color:#333;  background:#fff; 
	line-height:20px; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/selected-item.gif') top left no-repeat;
}
#featured .ui-tabs-nav li.ui-tabs-selected a, #featured .ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:60%;
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0;
	width: 100%;
	background: url('/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/transparent-bg.png'); 
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font: 1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff; padding:5px; margin:0; font-weight:bold;
	overflow:hidden; 
	line-height: 20px;
}
#featured .info p{ 
	margin:0 10px; 
	font-family:Verdana;
	font-size:11px;
	line-height:15px;
	color:#f0f0f0;
}
#featured .info a{ 
	margin: 0 5px;
	text-decoration:none; 
	color:#fff; 
}
#featured .info p > a {
	margin-left: 10px;
	color: #F4BA1B;
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}
.valign {
  height: 55%;
  display: inline-block;
  *display: inline; zoom: 1; 
}

.title {
	margin-left: 30px;
}
.breadcrumbs { 
  margin: 0 0 10px 30px;
  background:none;
	padding: 0;
	list-style: none; 
	overflow: hidden; 
	font: 14px Helvetica, Arial, Sans-Serif;
}
.breadcrumbs .active {
	color: #000000;
}
.breadcrumbs a {
	color: white;
	text-decoration: none; 
	padding: 2px 0 3px 35px;
	background: #616161;                   /* fallback color */
	background: hsla(240,0%,38%,1); 
	position: relative; 
	display: block;
	float: left;
}
.breadcrumbs a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(240,0%,38%,1);
	border-left-color: #616161; 
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumbs a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumbs a:first-child {
	padding-left: 10px;
}
.breadcrumbs a:nth-child(2)      { background: #808080; background: hsla(240,0%,50%,1); }
.breadcrumbs a:nth-child(2):after { border-left-color: #808080; border-left-color: hsla(240,0%,50%,1); }
.breadcrumbs a:nth-child(3)       { background: #A1A1A1; background: hsla(240,0%,63%,1); }
.breadcrumbs a:nth-child(3):after { border-left-color: #A1A1A1; border-left-color: hsla(240,0%,63%,1); }
.breadcrumbs a:nth-child(4)       { background: #BFBFBF; background: hsla(240,0%,75%,1); }
.breadcrumbs a:nth-child(4):after { border-left-color: #BFBFBF; border-left-color: hsla(240,0%,75%,1); }
.breadcrumbs a:last-child {
	background: #FFFFFF;
	background: hsla(0,100%,100%,1)!important;
	color: #6D6D6D;
	pointer-events: none;
	cursor: default;
	font-weight: bold;
}
.breadcrumbs a:last-child:after { border-left-color: hsla(0,100%,100%,1); }
.breadcrumbs a:hover { background: hsla(34,0%,25%,1); }
.breadcrumbs a:hover:after { border-left-color: hsla(34,0%,25%,1) !important; }

#main-boxes {
	position:relative;
	z-index:1;
	margin-bottom:35px;
}
.wp-caption {
    margin: -30px -30px 30px;
    position: relative;
    width: auto !important;
    /*width: 100% !important;*/
}
.wp-caption img.size-full {
	width: 100%;
    /*max-width: 768px !important;*/
}
.wp-caption img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.wp-caption-text {
    background-color: #000000;
    bottom: -5px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
    opacity: 0.7;
    padding: 15px;
    position: absolute;
    text-align: left;
    width: 100%;
}
.col-right {
	box-shadow: 1px 1px 2px #555;
	padding:30px 30px 15px 30px;
	background-color:#fff;
	border: 1px solid #EAEAEA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:15px;
	position:relative;
}
.col-left{
	padding:30px 30px 15px 30px;
	background-color:#fff;
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:60px;
	position:relative;
	overflow: hidden;
}
.col-left p {
  margin: 0 0 5px 0;
}
.col-left ul{
  margin: 0 0 5px 0;
}	
.mapp-directions { 
	display: none; 
}
#social {
	margin-top: 20px;
}
#social img {
	width: 24%;
}

#social a:hover {
	text-decoration: none;
}

.ui-tabs-nav-item p {
	display: inline-block;
	width: 65%;
	vertical-align: middle;
	margin: 0;
}

.ui-tabs-nav-item img {
	display: inline-block;
}

.ui-tabs-nav-item img {
	height: 50px;
	width: auto;
}

.wysija-paragraph {
	display: inline;
}

.formError {
	display: none;
}

.wysija-submit {
	display: inline !important;
	padding: 7px !important;
	margin-top: -18px !important;
	  -webkit-appearance: none;
	  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	  -webkit-font-smoothing: antialiased;
	  -webkit-rtl-ordering: logical;
	  -webkit-user-select: none;
	  -webkit-writing-mode: horizontal-tb;
	  background-color: rgb(250, 167, 50);
	  background-image: linear-gradient(rgb(251, 180, 80), rgb(248, 148, 6));
	  background-repeat: repeat-x;
	  border-bottom-color: rgba(0, 0, 0, 0.247059);
	  border-bottom-left-radius: 4px;
	  border-bottom-right-radius: 4px;
	  border-bottom-style: solid;
	  border-bottom-width: 1px;
	  border-image-outset: 0px;
	  border-image-repeat: stretch;
	  border-image-slice: 100%;
	  border-image-source: none;
	  border-image-width: 1;
	  border-left-color: rgba(0, 0, 0, 0.0980392);
	  border-left-style: solid;
	  border-left-width: 1px;
	  border-right-color: rgba(0, 0, 0, 0.0980392);
	  border-right-style: solid;
	  border-right-width: 1px;
	  border-top-color: rgba(0, 0, 0, 0.0980392);
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  border-top-style: solid;
	  border-top-width: 1px;
	  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	  color: rgb(255, 255, 255);
	  cursor: pointer;
	  display: inline-block;
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-size: 14px;
	  height: 36px;
	  line-height: 20px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  margin-right: 0px;
	  margin-top: -18px;
	  padding-bottom: 7px;
	  padding-left: 7px;
	  padding-right: 7px;
	  padding-top: 7px;
	  text-align: center;
	  text-indent: 0px;
	  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}
#featured li.ui-tabs-active{ 
	background:url('/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/selected-item.gif')  left no-repeat;  
	background-position: 0 7px;
}
#featured .ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}

#featured {
	margin: 30px auto 50px auto;
}

#featured .ui-tabs-nav ul {
	position: relative;
	height: 90%;
}

#featured .ui-tabs-nav > #actualites {
	display: block;
	width: 100%;
	text-align: center;
	height: 10%;
    position: relative;
    background: #005DA3;
    border-left: 1px solid #005DA3;
}
#featured .ui-tabs-nav > #actualites > a {
	vertical-align: middle;
	color: #FFF;
    font-weight: bold;
}

.ui-tabs-panel img {
	width: 100%;
}

#scroll {
	width: inherit;
}



#main-boxes {
 	border-collapse: separate;
  	border-spacing: 30px 0;
}

#main-boxes .box {
	display: table-cell;
	float: none;
	width: 340px;	
	height: 100%;
	color:#fff;
	font-size:14px;
	text-shadow: 1px 1px 0px rgba(0,0,0,.3); 
	padding:20px 20px 5px 20px;
	text-decoration:none;
	font-weight:700;
	 -webkit-box-shadow: 0 10px 12px -6px rgba(000, 000, 000, 0.4), inset 0 0 0 5px rgba(255, 255, 255, 0.1) ;
  	-moz-box-shadow: 0 10px 12px -6px rgba(000, 000, 000, 0.4), inset 0 0 0 5px rgba(255, 255, 255, 0.1) ;
	box-shadow: 0 10px 12px -6px rgba(000, 000, 000, 0.4), inset 0 0 0 5px rgba(255, 255, 255, 0.1);
	transition: background .3s ease; 
	-webkit-transition: background .3s ease; 
	-moz-transition: background .3s ease;
	margin-bottom:15px;
	background: #005DA3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main-boxes .span4 {
	margin-left: 20px;
}

.box h3 {
	color: #F4BA1B;
	font-size:28px;
	margin-top: 0;
}

.nav-next {
	float: right;
}
.nav-previous {
	float: left;
}
.nav-next a, .nav-previous a {
	font-size: 16px;
}

.col-left .alignright {
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.col-left .alignleft {
	float: left;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.col-left .clear {
	clear: both;
}
.col-left .thumbnail_news {
	float: left;
	padding-right: 20px;
}
.wpcf7-form {
	width: 60%;
}
.wpcf7-form h4 {
	margin-bottom: 5px;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="tel"]  {
	width: 40%;
}
.wpcf7-form textarea {
	width: 80%;
}
/*********************************************************/
/*********************************************************/


/*********************************************************/
/***********************FOOTER****************************/
/*********************************************************/
#newsletter {
	position: relative;
}
#newsletter form {
	margin-bottom: 0;
}
#newsletter > p {
    font-weight: bold;
}
#cti {
	text-align: center;
}
#social {
	text-align: center;
}
footer #liens {
	margin: 0 auto;
	width: 150px;
}
.twitter, .fb, .google, .linkedin {
	position: relative;	
	height: 32px; 
	width: 157px; 
	display: block;
	background: url(/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/twitter_btn.png) no-repeat;
	margin-top:10px;
}
.fb {
	width: 157px; 
	margin-left: 4px;
	background: url(/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/fb_btn.png) no-repeat; 	
}
.google {
	width: 157px; 
	background: url(/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/google_btn.png) no-repeat; 	
}
.linkedin {
	width: 157px; 
	background: url(/web/20221130161556im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/in_btn.png) no-repeat; 
	margin-left: 4px;
}
.twitter:active, .fb:active, .google:active, .linkedin:active {top: 1px;}
.twitter:hover, .fb:hover, .google:hover, .linkedin:hover {
	background-position: 0 -32px;
}
.twitter a, .fb a, .google a, .linkedin a {
	padding: 5px 0 0 15px; 
	text-shadow: -1px -1px 0px rgba(0,0,0,.3); 
	color:#fff; 
	font-weight: bold; 
	font-size: 12px; 
	height: 32px; 
	display: block;
	line-height:23px;
}
.fb a {padding: 5px 0 0 20px; }
.twitter, .fb, .google, .linkedin {
	display: inline-block;
}
.twitter a:hover, .fb a:hover, .google a:hover, .linkedin a:hover {
	color: #FFF;
	text-decoration: none;
}
#toTop {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    bottom: 10px;
    color: #333333;
    cursor: pointer;
    display: none;
    font-size: 11px;
    padding: 5px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 100px;
	z-index: 1;
}
/*********************************************************/
/*********************************************************/

/*
     FILE ARCHIVED ON 16:15:56 Nov 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:20:05 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 758.466
  exclusion.robots: 0.126
  exclusion.robots.policy: 0.112
  cdx.remote: 0.091
  esindex: 0.012
  LoadShardBlock: 725.434 (3)
  PetaboxLoader3.datanode: 88.439 (5)
  PetaboxLoader3.resolve: 2112.836 (3)
  load_resource: 1537.058 (2)
*/