.Titre1 {  font-size: 14pt; font-weight: bolder; color: #0099CC}
.Titre2 { font-size: 12pt; font-weight: bold; color: #00CCFF}
.Titre3 { font-size: 10pt; font-weight: normal; color: #00FFFF}
.GrosTitre {  font-size: 16pt; font-weight: 700; color: #CC0033; text-align: center; word-spacing: 24pt}
.PetitTitre { font-size: 10pt; font-weight: bolder; color: #3366FF}
a:link {  color: #0099CC}
a:visited {  color: 0066CC}
a:hover { color: #CC0033; font-weight: bolder; text-decoration: underline overline}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
.legende {  font-size: 8pt}
.ActTitre { font-size: medium; color: #0099CC }
.ActDate { font-size: x-small; color: #0099CC }
.ActTexte { font-size: x-small}
table {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt}
h3 {  font-size: 12pt}
h4 {  margin-top: 0cm}
.TM {  margin-left: 0.5cm}
.AutNom {  font-weight: bolder}
.AutLieu { font-weight: bolder ; font-style: italic}
