*{
   margin    : 0;
   padding   : 0;
   font-size : 1em;
}

body {
   font-size : 1em;
   font-family: arial, verdana, trebuchet, "lucida console", sans-serif;
}

img {
   border:0;
}

a {
   text-decoration : none;
}


#boiteronde{
   width: 55em;margin:0.5em auto;
}

.haut  {background: url(../images/point.gif) 0 0 repeat-x; width:100%;}
.bas   {background: url(../images/bandebas.gif) 0 100% repeat-x;}
.gauche  {background: url(../images/point.gif) 0 0 repeat-y}
.droite  {background: url(../images/point.gif) 100% 0 repeat-y}
.basgauche, .notegauche {background: url(../images/coingauchebas.gif) 0 100% no-repeat}
.basdroite, .notedroite {background: url(../images/coindroitbas.gif) 100% 100% no-repeat}
.hautgauche {background: url(../images/coingauchehaut.gif) 0 0 no-repeat}
.hautdroite {background: url(../images/coindroithaut.gif) 100% 0 no-repeat; }

.isima {
   padding-top : 0.5em;
   font-size : 1.5em;
   font-variant:small-caps;
   color : rgb(51,102,153);
   /* vertical-align : center; */
   height : 2.75em;
}

.notegauche {
   background-color : rgb(51,102,153);
}

.notedroite {
   color : white;
   padding : 0.1em;
   text-align : center;
   font-size : 0.9em;
}

.notedroite a, .notedroite a:visited, .notedroite a:hover{
   color : white;
   background-color:transparent;
}

.notedroite a:hover{
   font-weight:bold;
}

#menu {
   height:1.5em;
   background-color:rgb(51,102,153);
   color : white;
}

#menu ul {
   list-style : none;
   font-size  : 0.85em;
   margin-top : 0.25em;
   float:right;
}

#menu ul li {
	float: left;
	padding: 0 0.75em 0 0;
	margin: 0;
}

#menu a {
   color : white;
}

#menu a:hover {
   text-decoration : underline;
}

#menu li:first-letter, #menu a:first-letter{
   font-weight:bold;
}

#sousmenu {
   widh : 15em;
   z-index:10;
   padding-left:1em;
}

#sousmenu ul {
   list-style:none;
}

#sousmenu p {
   padding      : 1em 0 1em 0;
   font-variant : small-caps;
   font-weight  : bold;
}

#contenu {
   margin-left:15em;
   width:38em;
   background-color:transparent;
   padding : 1em 0.5em 2em 1em;
   text-align:justify;
}

#contenu h2 {
   font-size:1.5em;
   margin:1em 0 1em 0;
   border-bottom:medium solid black;
}

#contenu h3 {
   font-size:1.25em;
   margin:.5em 0 0.5em 0;
}

#contenu li {
   margin-left:2em;
}

#contenu li li{
   margin-left:2em;
}

#contenu p {
  margin:0.5em 0 0.5em 0;
}

#contenu table {
   margin : auto;
}

#contenu sup {
   font-size : 85%;
}

.italic, .responsable {
   font-style:italic;
}