<SHTML>
<HEAD>
   <TITLE>Pray
</TITLE>
</HEAD>
<BODY TEXT="#0000A0" BGCOLOR="#FFFFFF" LINK="#0000FF" VLINK="#551A8B" ALINK="#FF0000">

<CENTER><P>
<A HREF="http://members.aol.com/bjw1106/shr-tur.htm">
<IMG SRC="ihs.jpg" HEIGHT=150 WIDTH=150>
</A>
</P>
<FONT SIZE=+4>
All you need is love. 
</FONT>
<CENTER><P><IMG SRC="coeur.jpg" HEIGHT=111 WIDTH=129></P>
<FONT SIZE=+4>
Come to Me...
</FONT>
</CENTER>
</BODY>
</SHTML>
