<body bgcolor="#2DBBE0" background="../IMAGES/orange_paper.gif">

<p>
<hr>
<center>
<p><img SRC="../ball.green.gif" height=12 width=12><a
NAME="CV"></a><b>&nbsp;<font size=+2>Un bref CV...&nbsp;</font></b><img
SRC="../ball.green.gif" height=12 width=12></center>

<P>
N&eacute; le <b> 30 mai 1972</b> &agrave; <a 
href="http://www.district-vienne.fr/connaitre/main-commune03a.htm">Sainte-Colombe</a> dans 
le <b>Rh&ocirc;ne (69)</b>.<br>
<P>
Enfance &agrave; <a href="http://www.rostrenen.com">Rostrenen</a> (22), &eacute;l&egrave;ve du coll&egrave;ge 
Edouard Herriot de Rostrenen, puis du <a
href="http://pharouest.ac-rennes.fr/e290022S/debut.htm">lyc&eacute;e &agrave; Paul
S&eacute;rusier</a> de <a href="http://www.ville-carhaix.com">Carhaix-Plouguer</a>
(29).<br>
<P>
Bac en 1990 puis pr&eacute;pa &agrave <a href="http://www.mairie-nantes.fr">Nantes</a> 
(44) au <a href="http://lycee.clemenceau.free.fr">lyc&eacute;e Clemenceau</a>.<br>

<p>
Etudes &agrave; l'<a href="http://ens-lyon.fr">ENS Lyon</a> (69).<br>

<p>
Th&egrave;se au sein de l'&eacute;quipe <a 
href="http://ens-lyon.fr/PHYSIQUE/Signal/index.html">SiSyPhE</a> du <a 
href="http://ens-lyon.fr/PHYSIQUE">laboratoire de Physique</a> de l'ENS Lyon sous la 
direction de <a href="http://ens-lyon.fr/~pabry">Patrice Abry</a>.

<p>
Pour plus de d&eacute;tails en format <a href="cvweb.pdf">PDF</a> ou <a 
href="cvweb.ps">PostScript</a>...
<br>
<br>
<hr>
<center>
<tr>
<td ALIGN=CENTER><font face="Geneva,Arial,Helvetica,Swiss,SunSans-Regular"><font size=-2>
<a href="../pca.html">Accueil</a>&nbsp;&nbsp; |&nbsp; <a
href="these.html">Th&egrave;se</a>&nbsp;&nbsp; |&nbsp; <a
href="publications.html">Publications</a> |&nbsp; <a
href="collaborateurs.html">Collaborateurs</a>&nbsp;&nbsp; |&nbsp; <a
href="exposes.html">Expos&eacute;s</a>&nbsp;&nbsp; |&nbsp; <a
href="../pca.html#liensprivilegies">Liens</a>&nbsp;&nbsp; |&nbsp; <a
href="CV.html">CV</a>&nbsp;&nbsp; |&nbsp; <a
href="../pca.html#mecontacter">Contact</a>&nbsp;&nbsp;</font></font> </td>
</tr>
</table></center>

<HR>
<ADDRESS>
<I>Pierre Chainais Novembre 2001</I>
</ADDRESS>
</BODY>
